body{
	background-image: url("backgroundGreen1080.jpg");
	background-repeat: no-repeat;
	background-size: 100%, 100%;
}

#practice{
	font-weight: bold;
	background-color: red;
}

#videoElement{
	width: 100;
}

#outerContainer{
	width: 100%;
	height:100%;
	text-align: center;
}


/*
Every page
*/

#header{
	text-align: center;
}


#textArea{
	float:left;
	text-align: center;
	font-family: sans-serif;
	
}



#pictureArea{
	float: right;
	padding-right: 100px;
}


.logo{
	display: block;
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 50px;
	padding-top: 20px;

}




#mainText{
		font-family: Century Gothic;
		font-size: 60px;
		color: white;
		text-align: center;
}

.textHeads{
		font-family: Century Gothic;
		color: white;
		text-align: center;
}

#startBtn{
	font-size: 24px;
	background-color: #014220;
	border-radius: 20px;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 20px;
}

#centerWrap{
	  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#bodyMain{
	margin-top: 50px;
}

#videoElement{
	display: none;
	width: 50%;
	height: 420px;
}

#myCanvas{
	width: 50%;
	height: 420px;
	display: none;
}