body{
	background-image: url("backgroundGrey.jpg");
	background-repeat: no-repeat;
	background-size: 100%, 100%;
}

#practice{
	font-weight: bold;
	background-color: red;
}


#outerContainer{
	width: 100%;
	height:100%;
	text-align: center;
}

#videoRow{
	margin: 0 auto;

}
/*
Every page
*/

#header{
	text-align: center;
}


#textArea{
	float:left;
	text-align: center;
	font-family: sans-serif;
	
}



#pictureArea{
	float: right;
	padding-right: 100px;
}


.logo{
	display: block;
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 50px;
	padding-top: 20px;

}




#mainText{
		font-family: Arial;
		font-size: 60px;
		color: white;
		text-align: center;
}

.textHeads{
		font-family: Arial;
		color: white;
		text-align: center;
}

#startBtn{
	font-size: 24px;
	background-color: #000;
	border-radius: 20px;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 20px;
}

#centerWrap{
	  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#bodyMain{
	margin-top: 50px;
}

#videoElement{
	display: block;
	width: 100%;
	height: 420px;
}

#myCanvas{
	width: 50%;
	height: 420px;
	display: none;
}

/*
This area just shows when the pages apear and disapear
*/
#firstPage{
	padding-top: 100px;
}

#secondPage{
	display: none;
}

#thirdPage{
	display: none;
}

#dietPage{
	display:none;
	text-align: center;
	padding-top: 100px;
}

#slides img{
	height: 100px;
	width: 100px;

}

#servingPage{
	display:none;
}

#product{
	width:500px;
	height: 500px;
}

#emojiPage img{
	padding: 20px;
	height:100px;
	width: 100px;
}

#scanPage{
	display: none;
}

#printPage{
	display: none;
	
}

#errorPage{
	display: none;
}

#servingSize{
	font-size: 200px;
	display: inline;
}

#add, #minus{
	display: inline;
	margin-left: 100px;
	margin-right: 100px;

	font-size: 100px;
	background:none;
	border:none;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 20px;
}



#mid{
	text-align: center;
}

#instructions{
	padding-top: 200px;
	text-align: center;
}
#instructions img{
	padding: 20px;
	height: 150px;

}



.btnSettings{
		font-family: Arial;
		color: white;
		text-align: center;


	margin-left: 100px;
	margin-right: 100px;

		font-size: 100px;
	background:none;
	border:none;
		padding-left: 30px;
		padding-right: 30px;
		padding-top: 10px;
		padding-bottom: 10px;
		margin-top: 20px;

}